*{
  box-sizing: border-box;
}

body{
  background-color: lavenderblush;
}


.grid {
  display: flex;
  flex-direction: column;
}

div img {
  flex: 2;
  justify-content: space-between;
  width: 30%;
  height: 30%;
}
