* {
  box-sizing:border-box;
}

.conatiner {
  background-color: #b8b9ba;
  width: 80%;
    /*:0,auto; = 0 top+bottom / auto = left+right;*/
  margin: 0 auto;
/*make sure that the container is smaller than the body to be able to center or you can use text-align to center */


}

header {
  display:block;
  width: auto;
}

main {
  display: inline-block;
  width: 60%;
  vertical-align: top;
}

aside {
  display:inline-block;
  width: 30%;
  vertical-align:top;
}

footer ul {
  display:inline-block;
}


article: last-child {
  margin-bottom:0;

}

/* creating footer lines */
article > footer {
border-top: 1px solid black;
border-bottom: 1px solid black;
}
