<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>express_test</title>
    <meta http-equiv="refresh" content="5"/>
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">

  </head>
  <body>
    <style>
      body {
        text-align: center;
        font-family: 'VT323', monospace;
        font-size: 5em;
        color: white;
        background-color: <%=colors%>;
      }
      h2 {
        margin: 0 5% 0 5%;
      }
      p,h3 {
      margin: 0 0 0 0;
      }
    </style>

      <h2>Express Compliments!</h2>

      <p><%=name%>!</p>

      <h3><%=compliments%></h3>


  </body>
</html>
