* {
  box-sizing: border-box;
}

body {
  background-color: #212a38;
  color: #f4f6f9;
  font-family: 'Coustard', serif;
  text-align: center;
  padding-top: 5%;
  font-family: 'Julius Sans One', sans-serif;
}

h1 {
  display:inline-block;
  text-align: center;
  padding-left:0;
}

h2 {
  height: 30%;
  width: 40%;
  border: 0.5px solid #88b2f7;
  border-radius: 10px;
}

img {
  display:inline-block;
  height: 10%;
  width: 10%;

}
